.list {
  padding: 20px;
}
.item {
  margin-top: 25px;
  margin-bottom: 25px;
}
.author {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
.avatar {
  width: 100px;
  border-radius: 6px;
}
.nick {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
}

.notFound {
  padding: 20px;
  font-size: 20px;
}
